.mainTitle {
    color: indianred;/*Цвет шрифта*/
    font-size: 124px;
    text-align: center;

}

.link {
    color: #06a565;
}

.body {
    background-color: black;
    background-image: url("./pubg-pgc-12k-ms.jpg");
    background-position: contain;
}

.sqr {
    width: 250px;
    height: 250px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
}

.sqr:hover {
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 50%;
    transform: rotate(360deg);
}
