.mainTitle {
    color: red;/*Цвет шрифта*/
    font-size: 124px;
    text-align: center;

}

.link {
    color: #06a565;
}

.body {
    background-color: black;
    background-image: url("./1.gif");
    background-size: contain;
}

.sqr {
    width: 140px;
    height: 200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
}

.sqr:hover {
    cursor: pointer;
    background-color: aqua;
    border-radius: 100%;
    transform: rotate(720deg);
}
